body {
  background-color: #8da6bf;
}

h1 {
  color: #fff;
  text-shadow: 4px 4px 6px #000;
  font-size: 75px;
  margin: auto;
}

header {
  padding: 10px;
  text-align: center;
  border-bottom: 5px solid #666;
  height: 120px;
  background: #b8dcff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #b8dcff, #003263); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #b8dcff, #003263); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #b8dcff, #003263); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #b8dcff, #003263); /* Standard syntax (must be last) */
}

/* CSS ANIMATION */

.element {
  height: 60px;
  animation-name: fadingColors;
  animation-duration: 2s; /* animation will not run without duration */
  animation-iteration-count: infinite; /* number of times animation should play */
  animation-direction: alternate; /* animation plays forward then backward */
  animation-delay: 1s; /* animation starts after 3 seconds have passed */
  /*animation-fill-mode: none;*/
  /*animation-play-state: running;*/
  /*animation-timing-function: ease-out;*/
}

@keyframes fadingColors {
  0% {
    background: #b8dcff;
  }
  100% {
    background: #003263;
  }
}

.fade {
  color: #fff;
  text-align: center;
  padding-top: 10px;
  text-shadow: 2px 2px 4px #000;
  margin: auto;
}

/* CSS TRANSFORM */

.transform {

  perspective: 500px;
  perspective-origin: center;
  margin: auto;
  background-image: url("../img/night-trees-milky-way-stars.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}

.perspective {
  text-align: center;
  width: 50%;
  padding: 5%;
  color: yellow;
  font-size: 20px;
  transition: 10s ease-out;
  transform: rotateX(60deg) translateY(400px);
}

.perspective:hover {
  transform: rotateX(60deg) translateY(0px);
}


/* CSS  Text Slide */

.slide {
  height: 70px;
  font-weight: bold;
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove 5s infinite;
}

.sl {
  margin: auto;
  font-size: 50px;
  padding: 2% 0;
  -webkit-animation-timing-function: ease-in-out;
  color: #003263;
}

@-webkit-keyframes mymove {
    from {left: 5%;}
    to {left: 60%;}
